<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Comment entry:</strong>
  <%= @comment.comment_entry %>
</p>



<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
</div>
<% @blog_post.comments.each do |comment| %>
<div class="panel-body">
	<p><strong><%= comment.author %></strong> said: </p>
	<p><%= comment.comment_entry %></p>
</div>

	
	<% end %>
</div>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
