<!DOCTYPE html>
<html>
<head>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <title>TechTalentBlog</title>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" <%= link_to "TTS Blog", blog_posts_path %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Articles", blog_posts_path %></li>
          <li><%= link_to "Authors", users_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to "Your Posts", your_posts_path  %></li>
          <li><%= link_to 'New Blog post', new_blog_post_path %></li>

          <% end %>
</ul>

      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
		<li><%= link_to "Edit Profile", edit_user_registration_path  %></li>
		<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>    </li>
		<% elsif %>

		<li><%= link_to "Sign Up", new_user_registration_path  %> </li>
		<li><%= link_to "Sign In", new_user_session_path %>    </li>

       <% end %>

      </ul>
    </div>
  </div>
  </div>
  </div>
</nav>


<div class="container">
	
<%= yield %>

</div>

</body>
</html>
