<h1>Your Buses!</h1>
<h3>You are at: <%= @station %> Station. </h3>

<div>
<%= @message %>
</div>

<% @buses.each do |route, vehicle| %>
	<div>
		Route: <%= route %><br />
		Vehicle: <%= vehicle %><br />

	</div>

<hr />
<% end %> 


<a class="btn btn-primary btn-lg"<%= link_to 'Check Another Stop', pages_home_path %></a></p>

