

<center><h1></h1></center>

<div class="jumbotron starships-photo">
    	<h1 class="animated bounceInRight">Starships</h1>
    	
    </div>


<center>
<table class="table table-hover">
	<tbody class="table table-header">

		<tr>
			<th>Name</th>
			<th>model</th>
			<th>Length</th>
			<th>Crew</th>
			<th>Passengers</th>
			

		</tr>	
			<% @results.each do |starship| %>
				<tr>
					<td> <%= starship["name"] %> </td>
					<td> <%= starship["model"] %> </td>
					<td> <%= starship["length"] %> </td>
					<td> <%= starship["crew"] %> </td>
					<td> <%= starship["passengers"] %> </td>
					
				</tr>
				<% end %>
	</tbody>

</table>

</center>
<img src="http://www.hdwallpaperscool.com/wp-content/uploads/2014/03/gaint-space-station-in-star-war-movie-free-download-fbulous-hd-widescreen-wallpapers-of-star-wars-movie-series.jpg" class="img-responsive img-rounded" alt="Responsive image">
<BR>





<footer class="container-fluid" >
	<p>&copy; Wookie Works 2015</p>